<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="sideMenu" th:fragment="sideMenu">
  <img alt="logo" th:src="@{/asset/image.png}"
       th:onclick="|location.href='@{/foodmaterials}'|"/>

  <ul>
    <li>식자재관리</li>
    <li th:onclick="|location.href='@{/addfoodmaterial}'|">식자재입력</li>
    <li th:onclick="|location.href='@{/addmenu}'|">메뉴입력</li>
    <li th:onclick="|location.href='@{/foodmaterials}'|">식자재조회</li>
    <li th:onclick="|location.href='@{/menu}'|">메뉴상세조회</li>
  </ul>

  <ul>
    <li>폐기관리</li>
    <li th:onclick="|location.href='@{/disposalitems}'|">폐기품목확인</li>
  </ul>

  <ul>
    <li>통계</li>
    <li th:onclick="|location.href='@{/revenuestatistics}'|">매출통계</li>
    <li th:onclick="|location.href='@{/usedstatistics}'|">지출통계</li>
    <li th:onclick="|location.href='@{/disposalstatistics}'|">폐기통계</li>
  </ul>
</div>

</body>
</html>