<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Insert title here</title>
 <link th:href="@{/css/userName.css}">
  <script>
    function goBack() {
      history.back();
    }
  </script>
</head>
<body>

<ul class="profile" th:fragment="userName">
  <li><span th:text="${info != null ? info.NAME : '사용자'}">님</span></li>
  <li onclick="location.href='controller?cmd=logoutAction'">로그아웃</li>
  <li onclick="location.href='controller?cmd=notificationUI'">알림</li>
  <li onclick="goBack()">뒤로가기</li>
</ul>


</body>

</html>