<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="login-box" id="login">
  <h1 class="main-title">로그인</h1>


  <div class="section-title">사업자번호</div>
  <input name="bId" id="bId" type="text" class="inputbutton" placeholder="사업자번호를 입력하세요" required>


  <div class="form-group">
    <div class="section-title">비밀번호</div>
    <input name="pw" id="pw" type="password" class="inputbutton" placeholder="비밀번호를 입력하세요" required>
  </div>

  <button value="로그인" class="submitbutton">로그인</button>

  <div class="auth-links">
    <a href="/register">회원가입</a> |
    <a href="/pwupdate">비밀번호 찾기</a>
  </div>
</div>

<div th:text="${errorMessage}"></div>

<script th:src="@{/js/login.js}"></script>
</body>

</html>