<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>매출통계</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" th:href="@{/css/sideMenu.css}">
  <link rel="stylesheet" th:href="@{/css/revenueStatistics.css}">
</head>


<body>
<div class="container">
  <section >
    <div th:replace="~{common/sideMenu :: sideMenu}"></div>
  </section>

  <div class="main">
    <div th:replace="~{common/userName :: userName}"></div>

    <div class="top_area">
      <h1>매출통계</h1>

<!-- 분리필요 -->
      <form method="get"
            action="/controller">
        <input type="month" name="month" th:value="${selectedMonth}">
        <button type="submit">조회</button>
      </form>
    </div>

    <div class="summary" th:text="${selectedMonth}">
      총 매출:
      <span th:text="${#numbers.formatInteger(totalRevenue, 0, 'COMMA')}" />
      원
    </div>

    <div class="chart_area">
      <div class="chart_box">
        <h3>메뉴별 매출 순위</h3>
        <canvas id="rankChart"></canvas>
      </div>

      <div class="chart_box">
        <h3>최근 6개월 매출</h3>
        <canvas id="monthlyChart"></canvas>
      </div>
    </div>

    <table>
      <thead>
      <tr>
        <th>순위</th>
        <th>메뉴명</th>
        <th>단가</th>
        <th>판매수량</th>
        <th>총매출</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="item : ${rankList}">
          <td>${item.ranking}</td>
          <td>${item.menuName}</td>
          <td>
            <span th:text="${#numbers.formatInteger(item.menuPrice, 0, 'COMMA')}"/>
            원
          </td>
          <td>${item.totalSaleCount}</td>
          <td>
            <span th:text="${#numbers.formatInteger(item.menuPrice, 0, 'COMMA')}"/>
            원
          </td>
      </tr>

      <tr th:if="${rankList == null or #lists.isEmpty(rankList)}" >
          <td colspan="5">매출 데이터가 없습니다.</td>
      </tr >
      </tbody>
    </table>
  </div>
</div>

<!--<script type="application/json" id="rankLabelsJson">${rankLabelsJson}</script>-->
<!--<script type="application/json" id="rankSalesAmountJson">${rankSalesAmountJson}</script>-->
<!--<script type="application/json" id="rankSaleCountJson">${rankSaleCountJson}</script>-->
<!--<script type="application/json" id="monthlyLabelsJson">${monthlyLabelsJson}</script>-->
<!--<script type="application/json" id="monthlyRevenueJson">${monthlyRevenueJson}</script>-->

<script th:src="@{/js/revenueStatistics.js}"></script>
</body>
</html>