<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>지출통계</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" th:href="@{/css/sideMenu.css}">
  <link rel="stylesheet" th:href="@{/css/userName.css}">
  <link rel="stylesheet" th:href="@{/css/usedStatistics.css}">
</head>

<body>
<div class="container">
  <section>
    <div th:replace="~{common/sideMenu :: sideMenu}"></div>
  </section>

  <div class="main">
    <div th:replace="~{common/userName :: userName}"></div>

    <div class="top_area">
      <h1>지출통계</h1>

      <form id="searchForm">
        <input  type="month" id="month" name="month">
        <button type="submit">조회</button>
      </form>
    </div>

    <div class="summary" >
      총 지출액:
      <span id="totalUsedPrice">0</span>
      원
    </div>

    <div class="chart_area">
      <div class="chart_box">
        <h3>식자재 지출 순위</h3>
        <canvas id="rankChart"></canvas>
      </div>

      <div class="chart_box">
        <h3>최근 6개월 총 지출액</h3>
        <canvas id="monthlyChart"></canvas>
      </div>
    </div>

    <table>
      <thead>
      <tr>
        <th>순위</th>
        <th>식자재명</th>
        <th>평균 단가</th>
        <th>수량</th>
        <th>총 지출액</th>
      </tr>
      </thead>
      <tbody id="rankTableBody">
      </tbody>
    </table>
  </div>
</div>


<script th:src="@{/js/usedStatistics.js}"></script>
</body>
</html>